template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "sites_SIPDTest_name": {
            "defaultValue": "SIPDTest",
            "type": "String"
        },
        "workflows_Test_name": {
            "defaultValue": "Test",
            "type": "String"
        },
        "sites_ConnectToD365_name": {
            "defaultValue": "ConnectToD365",
            "type": "String"
        },
        "workflows_POSTAccount_name": {
            "defaultValue": "POSTAccount",
            "type": "String"
        },
        "components_SIPDTest_name": {
            "defaultValue": "SIPDTest",
            "type": "String"
        },
        "config_web_name": {
            "defaultValue": "web",
            "type": "String"
        },
        "service_spiralit_name": {
            "defaultValue": "spiralit",
            "type": "String"
        },
        "workflows_D365ConnectTest_name": {
            "defaultValue": "D365ConnectTest",
            "type": "String"
        },
        "serverfarms_NorthEuropePlan_name": {
            "defaultValue": "NorthEuropePlan",
            "type": "String"
        },
        "components_ConnectToD365_name": {
            "defaultValue": "ConnectToD365",
            "type": "String"
        },
        "connections_dynamicscrmonline_name": {
            "defaultValue": "dynamicscrmonline",
            "type": "String"
        },
        "config_web_name_1": {
            "defaultValue": "web",
            "type": "String"
        },
        "storageAccounts_sipdtest9142_name": {
            "defaultValue": "sipdtest9142",
            "type": "String"
        },
        "users_1_name": {
            "defaultValue": "1",
            "type": "String"
        },
        "storageAccounts_connecttod36583e2_name": {
            "defaultValue": "connecttod36583e2",
            "type": "String"
        },
        "apis_echo_api_name": {
            "defaultValue": "echo-api",
            "type": "String"
        },
        "groups_guests_name": {
            "defaultValue": "guests",
            "type": "String"
        },
        "policies_policy_name": {
            "defaultValue": "policy",
            "type": "String"
        },
        "deployments_171544457080426_name": {
            "defaultValue": "171544457080426",
            "type": "String"
        },
        "apis_accounttest_name": {
            "defaultValue": "accounttest",
            "type": "String"
        },
        "products_starter_name": {
            "defaultValue": "starter",
            "type": "String"
        },
        "alertrules_Failure_Anomalies___SIPDTest_name": {
            "defaultValue": "Failure Anomalies - SIPDTest",
            "type": "String"
        },
        "groups_developers_name": {
            "defaultValue": "developers",
            "type": "String"
        },
        "notifications_BCC_name": {
            "defaultValue": "BCC",
            "type": "String"
        },
        "products_unlimited_name": {
            "defaultValue": "unlimited",
            "type": "String"
        },
        "groups_administrators_name": {
            "defaultValue": "administrators",
            "type": "String"
        },
        "alertrules_Failure_Anomalies___ConnectToD365_name": {
            "defaultValue": "Failure Anomalies - ConnectToD365",
            "type": "String"
        },
        "users_1_name_1": {
            "defaultValue": "1",
            "type": "String"
        },
        "users_1_name_2": {
            "defaultValue": "1",
            "type": "String"
        },
        "apis_echo_api_name_1": {
            "defaultValue": "echo-api",
            "type": "String"
        },
        "groups_guests_name_1": {
            "defaultValue": "guests",
            "type": "String"
        },
        "backends_LogicApp_Test_SIPDTest_name": {
            "defaultValue": "LogicApp_Test_SIPDTest",
            "type": "String"
        },
        "hostNameBindings_sipdtest.azurewebsites.net_name": {
            "defaultValue": "sipdtest.azurewebsites.net",
            "type": "String"
        },
        "templates_AccountClosedDeveloper_name": {
            "defaultValue": "AccountClosedDeveloper",
            "type": "String"
        },
        "policies_policy_name_1": {
            "defaultValue": "policy",
            "type": "String"
        },
        "policies_policy_name_2": {
            "defaultValue": "policy",
            "type": "String"
        },
        "apis_echo_api_name_2": {
            "defaultValue": "echo-api",
            "type": "String"
        },
        "groups_guests_name_2": {
            "defaultValue": "guests",
            "type": "String"
        },
        "groups_developers_name_1": {
            "defaultValue": "developers",
            "type": "String"
        },
        "properties_5c190efc0231acd0e71c886c_name": {
            "defaultValue": "5c190efc0231acd0e71c886c",
            "type": "String"
        },
        "properties_5c1a5e7f7e6aca3fc79a7017_name": {
            "defaultValue": "5c1a5e7f7e6aca3fc79a7017",
            "type": "String"
        },
        "apis_accounttest_name_1": {
            "defaultValue": "accounttest",
            "type": "String"
        },
        "notifications_AccountClosedPublisher_name": {
            "defaultValue": "AccountClosedPublisher",
            "type": "String"
        },
        "templates_EmailChangeIdentityDefault_name": {
            "defaultValue": "EmailChangeIdentityDefault",
            "type": "String"
        },
        "groups_developers_name_2": {
            "defaultValue": "developers",
            "type": "String"
        },
        "templates_NewIssueNotificationMessage_name": {
            "defaultValue": "NewIssueNotificationMessage",
            "type": "String"
        },
        "backends_LogicApp_POSTAccount_SIPDTest_name": {
            "defaultValue": "LogicApp_POSTAccount_SIPDTest",
            "type": "String"
        },
        "subscriptions_5c19077b6f4e710098070001_name": {
            "defaultValue": "5c19077b6f4e710098070001",
            "type": "String"
        },
        "subscriptions_5c19077b6f4e710098070002_name": {
            "defaultValue": "5c19077b6f4e710098070002",
            "type": "String"
        },
        "templates_ConfirmSignUpIdentityDefault_name": {
            "defaultValue": "ConfirmSignUpIdentityDefault",
            "type": "String"
        },
        "templates_PasswordResetIdentityDefault_name": {
            "defaultValue": "PasswordResetIdentityDefault",
            "type": "String"
        },
        "groups_administrators_name_1": {
            "defaultValue": "administrators",
            "type": "String"
        },
        "templates_InviteUserNotificationMessage_name": {
            "defaultValue": "InviteUserNotificationMessage",
            "type": "String"
        },
        "templates_NewCommentNotificationMessage_name": {
            "defaultValue": "NewCommentNotificationMessage",
            "type": "String"
        },
        "operations_create_resource_name": {
            "defaultValue": "create-resource",
            "type": "String"
        },
        "operations_modify_resource_name": {
            "defaultValue": "modify-resource",
            "type": "String"
        },
        "operations_remove_resource_name": {
            "defaultValue": "remove-resource",
            "type": "String"
        },
        "groups_administrators_name_2": {
            "defaultValue": "administrators",
            "type": "String"
        },
        "templates_NewDeveloperNotificationMessage_name": {
            "defaultValue": "NewDeveloperNotificationMessage",
            "type": "String"
        },
        "api_version_sets_5c190ef541ba133032ed3842_name": {
            "defaultValue": "5c190ef541ba133032ed3842",
            "type": "String"
        },
        "operations_manual_invoke_name": {
            "defaultValue": "manual-invoke",
            "type": "String"
        },
        "hostNameBindings_connecttod365.azurewebsites.net_name": {
            "defaultValue": "connecttod365.azurewebsites.net",
            "type": "String"
        },
        "operations_retrieve_resource_name": {
            "defaultValue": "retrieve-resource",
            "type": "String"
        },
        "templates_RejectDeveloperNotificationMessage_name": {
            "defaultValue": "RejectDeveloperNotificationMessage",
            "type": "String"
        },
        "templates_RequestDeveloperNotificationMessage_name": {
            "defaultValue": "RequestDeveloperNotificationMessage",
            "type": "String"
        },
        "operations_retrieve_header_only_name": {
            "defaultValue": "retrieve-header-only",
            "type": "String"
        },
        "templates_PurchaseDeveloperNotificationMessage_name": {
            "defaultValue": "PurchaseDeveloperNotificationMessage",
            "type": "String"
        },
        "notifications_NewApplicationNotificationMessage_name": {
            "defaultValue": "NewApplicationNotificationMessage",
            "type": "String"
        },
        "templates_ApplicationApprovedNotificationMessage_name": {
            "defaultValue": "ApplicationApprovedNotificationMessage",
            "type": "String"
        },
        "notifications_RequestPublisherNotificationMessage_name": {
            "defaultValue": "RequestPublisherNotificationMessage",
            "type": "String"
        },
        "templates_PasswordResetByAdminNotificationMessage_name": {
            "defaultValue": "PasswordResetByAdminNotificationMessage",
            "type": "String"
        },
        "schemas_5c190f0190005913b8cea40e_name": {
            "defaultValue": "5c190f0190005913b8cea40e",
            "type": "String"
        },
        "operations_retrieve_resource_cached_name": {
            "defaultValue": "retrieve-resource-cached",
            "type": "String"
        },
        "notifications_PurchasePublisherNotificationMessage_name": {
            "defaultValue": "PurchasePublisherNotificationMessage",
            "type": "String"
        },
        "notifications_NewIssuePublisherNotificationMessage_name": {
            "defaultValue": "NewIssuePublisherNotificationMessage",
            "type": "String"
        },
        "operations_5c19178dfa120aae4a040e70_name": {
            "defaultValue": "5c19178dfa120aae4a040e70",
            "type": "String"
        },
        "policies_policy_name_3": {
            "defaultValue": "policy",
            "type": "String"
        },
        "policies_policy_name_4": {
            "defaultValue": "policy",
            "type": "String"
        },
        "templates_QuotaLimitApproachingDeveloperNotificationMessage_name": {
            "defaultValue": "QuotaLimitApproachingDeveloperNotificationMessage",
            "type": "String"
        },
        "policies_policy_name_5": {
            "defaultValue": "policy",
            "type": "String"
        },
        "notifications_QuotaLimitApproachingPublisherNotificationMessage_name": {
            "defaultValue": "QuotaLimitApproachingPublisherNotificationMessage",
            "type": "String"
        },
        "policies_policy_name_6": {
            "defaultValue": "policy",
            "type": "String"
        },
        "policies_policy_name_7": {
            "defaultValue": "policy",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit'.",
            "type": "Microsoft.ApiManagement/service",
            "sku": {
                "name": "Developer",
                "capacity": 1
            },
            "name": "[parameters('service_spiralit_name')]",
            "apiVersion": "2018-01-01",
            "location": "North Europe",
            "tags": {},
            "scale": null,
            "properties": {
                "publisherEmail": "[concat('andydow@', parameters('service_spiralit_name'),'.net')]",
                "publisherName": "[concat(parameters('service_spiralit_name'),'SpiralIT', parameters('service_spiralit_name'))]",
                "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
                "hostnameConfigurations": [],
                "additionalLocations": null,
                "virtualNetworkConfiguration": null,
                "customProperties": {
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10": "False",
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11": "False",
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30": "False",
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168": "False",
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10": "False",
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11": "False",
                    "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30": "False"
                },
                "virtualNetworkType": "None",
                "certificates": null
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/microsoft.insights/alertrules/Failure Anomalies - SIPDTest'.",
            "type": "microsoft.insights/alertrules",
            "name": "[parameters('alertrules_Failure_Anomalies___SIPDTest_name')]",
            "apiVersion": "2014-04-01",
            "location": "North Europe",
            "tags": {
                "hidden-link:/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/microsoft.insights/components/SIPDTest": "Resource"
            },
            "scale": null,
            "properties": {
                "name": "[parameters('alertrules_Failure_Anomalies___SIPDTest_name')]",
                "description": "",
                "isEnabled": true,
                "condition": {
                    "odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
                    "dataSource": {
                        "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
                        "resourceUri": "[resourceId('microsoft.insights/components', parameters('components_SIPDTest_name'))]",
                        "metricNamespace": null,
                        "metricName": "advanced::A3108E3D-5E26-44CF-B232-783F5E20EF10::ewAiAEgAeQBwAGUAcgBpAG8AbgBBAHAAcABsAGkAYwBhAHQAaQBvAG4AUwBpAGQAIgA6AG4AdQBsAGwALAAiAEgAeQBwAGUAcgBpAG8AbgBTAHUAYgBqAGUAYwB0AFMAaQBkACIAOgBuAHUAbABsACwAIgBIAHkAcABlAHIAaQBvAG4ATwBiAHMAZQByAHYAZQByAFMAaQBkACIAOgBuAHUAbABsACwAIgBDAHUAcwB0AG8AbQBlAHIAQQBjAGMAbwB1AG4AdABJAGQAIgA6ACIAMAAwADAAMAAwADAAMAAwAC0AMAAwADAAMAAtADAAMAAwADAALQAwADAAMAAwAC0AMAAwADAAMAAwADAAMAAwADAAMAAwADAAIgAsACIAQQBwAHAAbABpAGMAYQB0AGkAbwBuAE4AYQBtAGUAIgA6AG4AdQBsAGwALAAiAEEAcABwAGwAaQBjAGEAdABpAG8AbgBJAGQAIgA6AG4AdQBsAGwALAAiAFAAcgBvAGYAaQBsAGUASQBkACIAOgAwACwAIgBXAGkAbgBkAG8AdwBTAGkAegBlAEkAbgBNAGkAbgB1AHQAZQBzACIAOgA2ADAALAAiAE0AZQB0AHIAaQBjAE4AYQBtAGUAIgA6ACIAIgAsACIAVABoAHIAZQBzAGgAbwBsAGQAIgA6ADIALgAwACwAIgBBAGwAZQByAHQAVABlAG0AcABsAGEAdABlAEkAZAAiADoAIgAiACwAIgBSAHUAbABlAEkAZAAiADoAIgAiACwAIgBSAHUAbABlAE4AYQBtAGUAIgA6ACIAIgAsACIAUgB1AGwAZQBEAGUAcwBjAHIAaQBwAHQAaQBvAG4AIgA6ACIAIgAsACIAUgBlAHMAbwB1AHIAYwBlAEkAZAAiADoAbgB1AGwAbAAsACIAUwB1AGIAcwBjAHIAaQBwAHQAaQBvAG4ASQBkACIAOgBuAHUAbABsACwAIgBBAGcAZwByAGUAZwBhAHQAZQBGAHUAbgBjAHQAaQBvAG4AIgA6ACIAIgAsACIAQwBvAG0AcABhAHIAaQBzAG8AbgBPAHAAZQByAGEAdABvAHIAIgA6ACIAewBcACIAQgBhAHMAZQBsAGkAbgBlAFQAaQBtAGUAcwBwAGEAbgBcACIAOgBcACIAMAAwADoANAAwADoAMAAwAFwAIgAsAFwAIgBJAG4AcwBpAGcAaAB0AHMAUwBlAHIAdgBpAGMAZQBMAGEAZwBcACIAOgBcACIAMAAwADoAMAAwADoAMAAwAFwAIgAsAFwAIgBCAHUAZgBmAGUAcgBUAGkAbQBlAFwAIgA6AFwAIgAwADAAOgAwADEAOgAwADAAXAAiACwAXAAiAEIAbABvAGIAUwB0AG8AcgBhAGcAZQBMAG8AZwBnAGkAbgBnAEUAbgBhAGIAbABlAGQAXAAiADoAZgBhAGwAcwBlACwAXAAiAFUAcwBlAHIAUwB1AHAAcAByAGUAcwBzAGkAbwBuAHMAXAAiADoAbgB1AGwAbAAsAFwAIgBQAHIAbwBmAGkAbABlAEkAZABcACIAOgAwACwAXAAiAEUAbQBhAGkAbABUAHkAcABlAFwAIgA6ADAALABcACIAUgBkAGQARgBhAGkAbAB1AHIAZQBzAFMAcABpAGsAZQBUAGgAcgBlAHMAaABvAGwAZABcACIAOgAzAC4AMAAsAFwAIgBSAGEAdwBQAHIAbwBhAGMAdABpAHYAZQBSAHUAbABlAEMAbwBuAGYAaQBnAFwAIgA6AG4AdQBsAGwAfQAiACwAIgBFAG4AYQBiAGwAZQBTAGUAbgBkAEUAbQBhAGkAbABUAG8AQwB1AHMAdABvAG0AIgA6AGYAYQBsAHMAZQAsACIAQwB1AHMAdABvAG0ARQBtAGEAaQBsAHMARQBuAGMAbwBkAGUAZAAiADoAIgAiACwAIgBFAG4AYQBiAGwAZQBTAGUAbgBkAEUAbQBhAGkAbABUAG8ATwB3AG4AZQByAHMAIgA6AGYAYQBsAHMAZQB9AA=="
                    },
                    "operator": "GreaterThan",
                    "threshold": 2,
                    "windowSize": "PT1H"
                },
                "action": {
                    "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleEmailAction",
                    "sendToServiceOwners": true,
                    "customEmails": []
                }
            },
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_SIPDTest_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/microsoft.insights/alertrules/Failure Anomalies - ConnectToD365'.",
            "type": "microsoft.insights/alertrules",
            "name": "[parameters('alertrules_Failure_Anomalies___ConnectToD365_name')]",
            "apiVersion": "2014-04-01",
            "location": "North Europe",
            "tags": {
                "hidden-link:/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/microsoft.insights/components/ConnectToD365": "Resource"
            },
            "scale": null,
            "properties": {
                "name": "[parameters('alertrules_Failure_Anomalies___ConnectToD365_name')]",
                "description": "",
                "isEnabled": true,
                "condition": {
                    "odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
                    "dataSource": {
                        "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
                        "resourceUri": "[resourceId('microsoft.insights/components', parameters('components_ConnectToD365_name'))]",
                        "metricNamespace": null,
                        "metricName": "advanced::A3108E3D-5E26-44CF-B232-783F5E20EF10::ewAiAEgAeQBwAGUAcgBpAG8AbgBBAHAAcABsAGkAYwBhAHQAaQBvAG4AUwBpAGQAIgA6AG4AdQBsAGwALAAiAEgAeQBwAGUAcgBpAG8AbgBTAHUAYgBqAGUAYwB0AFMAaQBkACIAOgBuAHUAbABsACwAIgBIAHkAcABlAHIAaQBvAG4ATwBiAHMAZQByAHYAZQByAFMAaQBkACIAOgBuAHUAbABsACwAIgBDAHUAcwB0AG8AbQBlAHIAQQBjAGMAbwB1AG4AdABJAGQAIgA6ACIAMAAwADAAMAAwADAAMAAwAC0AMAAwADAAMAAtADAAMAAwADAALQAwADAAMAAwAC0AMAAwADAAMAAwADAAMAAwADAAMAAwADAAIgAsACIAQQBwAHAAbABpAGMAYQB0AGkAbwBuAE4AYQBtAGUAIgA6AG4AdQBsAGwALAAiAEEAcABwAGwAaQBjAGEAdABpAG8AbgBJAGQAIgA6AG4AdQBsAGwALAAiAFAAcgBvAGYAaQBsAGUASQBkACIAOgAwACwAIgBXAGkAbgBkAG8AdwBTAGkAegBlAEkAbgBNAGkAbgB1AHQAZQBzACIAOgA2ADAALAAiAE0AZQB0AHIAaQBjAE4AYQBtAGUAIgA6ACIAIgAsACIAVABoAHIAZQBzAGgAbwBsAGQAIgA6ADIALgAwACwAIgBBAGwAZQByAHQAVABlAG0AcABsAGEAdABlAEkAZAAiADoAIgAiACwAIgBSAHUAbABlAEkAZAAiADoAIgAiACwAIgBSAHUAbABlAE4AYQBtAGUAIgA6ACIAIgAsACIAUgB1AGwAZQBEAGUAcwBjAHIAaQBwAHQAaQBvAG4AIgA6ACIAIgAsACIAUgBlAHMAbwB1AHIAYwBlAEkAZAAiADoAbgB1AGwAbAAsACIAUwB1AGIAcwBjAHIAaQBwAHQAaQBvAG4ASQBkACIAOgBuAHUAbABsACwAIgBBAGcAZwByAGUAZwBhAHQAZQBGAHUAbgBjAHQAaQBvAG4AIgA6ACIAIgAsACIAQwBvAG0AcABhAHIAaQBzAG8AbgBPAHAAZQByAGEAdABvAHIAIgA6ACIAewBcACIAQgBhAHMAZQBsAGkAbgBlAFQAaQBtAGUAcwBwAGEAbgBcACIAOgBcACIAMAAwADoANAAwADoAMAAwAFwAIgAsAFwAIgBJAG4AcwBpAGcAaAB0AHMAUwBlAHIAdgBpAGMAZQBMAGEAZwBcACIAOgBcACIAMAAwADoAMAAwADoAMAAwAFwAIgAsAFwAIgBCAHUAZgBmAGUAcgBUAGkAbQBlAFwAIgA6AFwAIgAwADAAOgAwADEAOgAwADAAXAAiACwAXAAiAEIAbABvAGIAUwB0AG8AcgBhAGcAZQBMAG8AZwBnAGkAbgBnAEUAbgBhAGIAbABlAGQAXAAiADoAZgBhAGwAcwBlACwAXAAiAFUAcwBlAHIAUwB1AHAAcAByAGUAcwBzAGkAbwBuAHMAXAAiADoAbgB1AGwAbAAsAFwAIgBQAHIAbwBmAGkAbABlAEkAZABcACIAOgAwACwAXAAiAEUAbQBhAGkAbABUAHkAcABlAFwAIgA6ADAALABcACIAUgBkAGQARgBhAGkAbAB1AHIAZQBzAFMAcABpAGsAZQBUAGgAcgBlAHMAaABvAGwAZABcACIAOgAzAC4AMAAsAFwAIgBSAGEAdwBQAHIAbwBhAGMAdABpAHYAZQBSAHUAbABlAEMAbwBuAGYAaQBnAFwAIgA6AG4AdQBsAGwAfQAiACwAIgBFAG4AYQBiAGwAZQBTAGUAbgBkAEUAbQBhAGkAbABUAG8AQwB1AHMAdABvAG0AIgA6AGYAYQBsAHMAZQAsACIAQwB1AHMAdABvAG0ARQBtAGEAaQBsAHMARQBuAGMAbwBkAGUAZAAiADoAIgAiACwAIgBFAG4AYQBiAGwAZQBTAGUAbgBkAEUAbQBhAGkAbABUAG8ATwB3AG4AZQByAHMAIgA6AGYAYQBsAHMAZQB9AA=="
                    },
                    "operator": "GreaterThan",
                    "threshold": 2,
                    "windowSize": "PT1H"
                },
                "action": {
                    "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleEmailAction",
                    "sendToServiceOwners": true,
                    "customEmails": []
                }
            },
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_ConnectToD365_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/microsoft.insights/components/SIPDTest'.",
            "type": "microsoft.insights/components",
            "kind": "web",
            "name": "[parameters('components_SIPDTest_name')]",
            "apiVersion": "2015-05-01",
            "location": "northeurope",
            "tags": {},
            "scale": null,
            "properties": {
                "Application_Type": "web",
                "Flow_Type": null,
                "Request_Source": "IbizaWebAppExtensionCreate",
                "HockeyAppId": null,
                "SamplingPercentage": null
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/microsoft.insights/components/ConnectToD365'.",
            "type": "microsoft.insights/components",
            "kind": "web",
            "name": "[parameters('components_ConnectToD365_name')]",
            "apiVersion": "2015-05-01",
            "location": "northeurope",
            "tags": {},
            "scale": null,
            "properties": {
                "Application_Type": "web",
                "Flow_Type": null,
                "Request_Source": "IbizaWebAppExtensionCreate",
                "HockeyAppId": null,
                "SamplingPercentage": null
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Logic/workflows/D365ConnectTest'.",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('workflows_D365ConnectTest_name')]",
            "apiVersion": "2017-07-01",
            "location": "northeurope",
            "tags": {},
            "scale": null,
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "HTTP": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "body": "client_id=97e215da-c243-454c-9bfe-eda473b2e20e\n&scope=https://fieldopstraining01.crm4.dynamics.com/\n&client_secret=J9kHFfGdnDWIXYynLZZjjm30+vpwrBG4XZaW5+3o+lU=\n&grant_type=client_credentials",
                                "headers": {
                                    "Cache-Control": "no-cache",
                                    "content-type": "application/x-www-form-urlencoded"
                                },
                                "method": "POST",
                                "uri": "https://login.windows.net/a603898f-7de2-45ba-b67d-d35fb519b2cf/oauth2/token"
                            }
                        },
                        "HTTP_2": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "headers": {
                                    "Accept": "appliation/json",
                                    "Authorization": "Bearer <access_token>"
                                },
                                "method": "GET",
                                "uri": "https://fieldopstraining01.crm4.dynamics.com/api/data/v9.0/accounts"
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {}
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Logic/workflows/POSTAccount'.",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('workflows_POSTAccount_name')]",
            "apiVersion": "2017-07-01",
            "location": "northeurope",
            "tags": {},
            "scale": null,
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "properties": {
                                        "accountname": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_a_new_record": {
                            "runAfter": {
                                "Response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "_accountclassificationcode_label": "Default Value",
                                    "_accountratingcode_label": "Default Value",
                                    "_address2_addresstypecode_label": "Default Value",
                                    "_businesstypecode_label": "Default Value",
                                    "_customersizecode_label": "Default Value",
                                    "_msdyn_travelchargetype_label": "None",
                                    "_preferredcontactmethodcode_label": "Any",
                                    "_shippingmethodcode_label": "Default Value",
                                    "_territorycode_label": "Default Value",
                                    "creditonhold": false,
                                    "donotbulkemail": false,
                                    "donotbulkpostalmail": false,
                                    "donotemail": false,
                                    "donotfax": false,
                                    "donotphone": false,
                                    "donotpostalmail": false,
                                    "donotsendmm": false,
                                    "followemail": true,
                                    "marketingonly": false,
                                    "merged": false,
                                    "msdyn_taxexempt": false,
                                    "name": "@{triggerBody()?['properties']['accountname']}",
                                    "participatesinworkflow": false
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('org48b5b287.crm4'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items"
                            }
                        },
                        "Response": {
                            "runAfter": {},
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "dynamicscrmonline": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_dynamicscrmonline_name'))]",
                                "connectionName": "dynamicscrmonline",
                                "id": "/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/providers/Microsoft.Web/locations/northeurope/managedApis/dynamicscrmonline"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_dynamicscrmonline_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Logic/workflows/Test'.",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('workflows_Test_name')]",
            "apiVersion": "2017-07-01",
            "location": "northeurope",
            "tags": {},
            "scale": null,
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "Response": {
                            "runAfter": {},
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": {
                                    "accountid": "998e6c1c-cce9-e811-a950-000d3a4546af",
                                    "address1_postalcode": " M1 3LY"
                                },
                                "schema": {
                                    "properties": {
                                        "@@odata.context": {
                                            "type": "string"
                                        },
                                        "@@odata.etag": {
                                            "type": "string"
                                        },
                                        "_createdby_value": {
                                            "type": "string"
                                        },
                                        "_createdbyexternalparty_value": {},
                                        "_createdonbehalfby_value": {},
                                        "_defaultpricelevelid_value": {},
                                        "_masterid_value": {},
                                        "_modifiedby_value": {
                                            "type": "string"
                                        },
                                        "_modifiedbyexternalparty_value": {},
                                        "_modifiedonbehalfby_value": {},
                                        "_msdyn_billingaccount_value": {},
                                        "_msdyn_preferredresource_value": {},
                                        "_msdyn_salestaxcode_value": {},
                                        "_msdyn_serviceterritory_value": {
                                            "type": "string"
                                        },
                                        "_originatingleadid_value": {},
                                        "_ownerid_value": {
                                            "type": "string"
                                        },
                                        "_owningbusinessunit_value": {
                                            "type": "string"
                                        },
                                        "_owningteam_value": {},
                                        "_owninguser_value": {
                                            "type": "string"
                                        },
                                        "_parentaccountid_value": {},
                                        "_preferredequipmentid_value": {},
                                        "_preferredserviceid_value": {},
                                        "_preferredsystemuserid_value": {},
                                        "_primarycontactid_value": {},
                                        "_slaid_value": {},
                                        "_slainvokedid_value": {},
                                        "_territoryid_value": {},
                                        "_transactioncurrencyid_value": {
                                            "type": "string"
                                        },
                                        "accountcategorycode": {},
                                        "accountclassificationcode": {
                                            "type": "integer"
                                        },
                                        "accountid": {
                                            "type": "string"
                                        },
                                        "accountnumber": {},
                                        "accountratingcode": {
                                            "type": "integer"
                                        },
                                        "address1_addressid": {
                                            "type": "string"
                                        },
                                        "address1_addresstypecode": {},
                                        "address1_city": {
                                            "type": "string"
                                        },
                                        "address1_composite": {
                                            "type": "string"
                                        },
                                        "address1_country": {
                                            "type": "string"
                                        },
                                        "address1_county": {},
                                        "address1_fax": {},
                                        "address1_freighttermscode": {},
                                        "address1_latitude": {
                                            "type": "number"
                                        },
                                        "address1_line1": {
                                            "type": "string"
                                        },
                                        "address1_line2": {},
                                        "address1_line3": {},
                                        "address1_longitude": {
                                            "type": "number"
                                        },
                                        "address1_name": {},
                                        "address1_postalcode": {
                                            "type": "string"
                                        },
                                        "address1_postofficebox": {},
                                        "address1_primarycontactname": {},
                                        "address1_shippingmethodcode": {},
                                        "address1_stateorprovince": {},
                                        "address1_telephone1": {},
                                        "address1_telephone2": {},
                                        "address1_telephone3": {},
                                        "address1_upszone": {},
                                        "address1_utcoffset": {},
                                        "address2_addressid": {
                                            "type": "string"
                                        },
                                        "address2_addresstypecode": {
                                            "type": "integer"
                                        },
                                        "address2_city": {},
                                        "address2_composite": {},
                                        "address2_country": {},
                                        "address2_county": {},
                                        "address2_fax": {},
                                        "address2_freighttermscode": {
                                            "type": "integer"
                                        },
                                        "address2_latitude": {},
                                        "address2_line1": {},
                                        "address2_line2": {},
                                        "address2_line3": {},
                                        "address2_longitude": {},
                                        "address2_name": {},
                                        "address2_postalcode": {},
                                        "address2_postofficebox": {},
                                        "address2_primarycontactname": {},
                                        "address2_shippingmethodcode": {
                                            "type": "integer"
                                        },
                                        "address2_stateorprovince": {},
                                        "address2_telephone1": {},
                                        "address2_telephone2": {},
                                        "address2_telephone3": {},
                                        "address2_upszone": {},
                                        "address2_utcoffset": {},
                                        "aging30": {},
                                        "aging30_base": {},
                                        "aging60": {},
                                        "aging60_base": {},
                                        "aging90": {},
                                        "aging90_base": {},
                                        "businesstypecode": {
                                            "type": "integer"
                                        },
                                        "createdon": {
                                            "type": "string"
                                        },
                                        "creditlimit": {},
                                        "creditlimit_base": {},
                                        "creditonhold": {
                                            "type": "boolean"
                                        },
                                        "customersizecode": {
                                            "type": "integer"
                                        },
                                        "customertypecode": {
                                            "type": "integer"
                                        },
                                        "description": {},
                                        "donotbulkemail": {
                                            "type": "boolean"
                                        },
                                        "donotbulkpostalmail": {
                                            "type": "boolean"
                                        },
                                        "donotemail": {
                                            "type": "boolean"
                                        },
                                        "donotfax": {
                                            "type": "boolean"
                                        },
                                        "donotphone": {
                                            "type": "boolean"
                                        },
                                        "donotpostalmail": {
                                            "type": "boolean"
                                        },
                                        "donotsendmm": {
                                            "type": "boolean"
                                        },
                                        "emailaddress1": {},
                                        "emailaddress2": {},
                                        "emailaddress3": {},
                                        "entityimage": {},
                                        "entityimage_timestamp": {},
                                        "entityimage_url": {},
                                        "entityimageid": {},
                                        "exchangerate": {
                                            "type": "integer"
                                        },
                                        "fax": {},
                                        "followemail": {
                                            "type": "boolean"
                                        },
                                        "ftpsiteurl": {},
                                        "importsequencenumber": {
                                            "type": "integer"
                                        },
                                        "industrycode": {},
                                        "lastonholdtime": {},
                                        "lastusedincampaign": {},
                                        "marketcap": {},
                                        "marketcap_base": {},
                                        "marketingonly": {
                                            "type": "boolean"
                                        },
                                        "merged": {
                                            "type": "boolean"
                                        },
                                        "modifiedon": {
                                            "type": "string"
                                        },
                                        "msdyn_taxexempt": {
                                            "type": "boolean"
                                        },
                                        "msdyn_taxexemptnumber": {},
                                        "msdyn_travelcharge": {},
                                        "msdyn_travelcharge_base": {},
                                        "msdyn_travelchargetype": {
                                            "type": "integer"
                                        },
                                        "msdyn_workorderinstructions": {},
                                        "name": {
                                            "type": "string"
                                        },
                                        "numberofemployees": {},
                                        "onholdtime": {},
                                        "opendeals": {
                                            "type": "integer"
                                        },
                                        "opendeals_date": {
                                            "type": "string"
                                        },
                                        "opendeals_state": {
                                            "type": "integer"
                                        },
                                        "openrevenue": {
                                            "type": "integer"
                                        },
                                        "openrevenue_base": {
                                            "type": "integer"
                                        },
                                        "openrevenue_date": {
                                            "type": "string"
                                        },
                                        "openrevenue_state": {
                                            "type": "integer"
                                        },
                                        "overriddencreatedon": {},
                                        "ownershipcode": {},
                                        "participatesinworkflow": {
                                            "type": "boolean"
                                        },
                                        "paymenttermscode": {},
                                        "preferredappointmentdaycode": {},
                                        "preferredappointmenttimecode": {},
                                        "preferredcontactmethodcode": {
                                            "type": "integer"
                                        },
                                        "primarysatoriid": {},
                                        "primarytwitterid": {},
                                        "processid": {},
                                        "revenue": {},
                                        "revenue_base": {},
                                        "sharesoutstanding": {},
                                        "shippingmethodcode": {
                                            "type": "integer"
                                        },
                                        "sic": {},
                                        "stageid": {},
                                        "statecode": {
                                            "type": "integer"
                                        },
                                        "statuscode": {
                                            "type": "integer"
                                        },
                                        "stockexchange": {},
                                        "teamsfollowed": {},
                                        "telephone1": {},
                                        "telephone2": {},
                                        "telephone3": {},
                                        "territorycode": {
                                            "type": "integer"
                                        },
                                        "tickersymbol": {},
                                        "timespentbymeonemailandmeetings": {},
                                        "timezoneruleversionnumber": {},
                                        "traversedpath": {},
                                        "utcconversiontimezonecode": {},
                                        "versionnumber": {
                                            "type": "integer"
                                        },
                                        "websiteurl": {},
                                        "yominame": {}
                                    },
                                    "type": "object"
                                },
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Storage/storageAccounts/sipdtest9142'.",
            "type": "Microsoft.Storage/storageAccounts",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "Storage",
            "name": "[parameters('storageAccounts_sipdtest9142_name')]",
            "apiVersion": "2018-07-01",
            "location": "northeurope",
            "tags": {},
            "scale": null,
            "properties": {
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": false,
                "encryption": {
                    "services": {
                        "file": {
                            "enabled": true
                        },
                        "blob": {
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                }
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Storage/storageAccounts/connecttod36583e2'.",
            "type": "Microsoft.Storage/storageAccounts",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "Storage",
            "name": "[parameters('storageAccounts_connecttod36583e2_name')]",
            "apiVersion": "2018-07-01",
            "location": "northeurope",
            "tags": {},
            "scale": null,
            "properties": {
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": false,
                "encryption": {
                    "services": {
                        "file": {
                            "enabled": true
                        },
                        "blob": {
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                }
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Web/connections/dynamicscrmonline'.",
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_dynamicscrmonline_name')]",
            "apiVersion": "2016-06-01",
            "location": "northeurope",
            "scale": null,
            "properties": {
                "displayName": "Andrew.Dow@centrica.com",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/providers/Microsoft.Web/locations/northeurope/managedApis/', parameters('connections_dynamicscrmonline_name'))]"
                }
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Web/serverfarms/NorthEuropePlan'.",
            "type": "Microsoft.Web/serverfarms",
            "sku": {
                "name": "Y1",
                "tier": "Dynamic",
                "size": "Y1",
                "family": "Y",
                "capacity": 0
            },
            "kind": "functionapp",
            "name": "[parameters('serverfarms_NorthEuropePlan_name')]",
            "apiVersion": "2016-09-01",
            "location": "North Europe",
            "scale": null,
            "properties": {
                "name": "[parameters('serverfarms_NorthEuropePlan_name')]",
                "workerTierName": null,
                "adminSiteName": null,
                "hostingEnvironmentProfile": null,
                "perSiteScaling": false,
                "reserved": false,
                "targetWorkerCount": 0,
                "targetWorkerSizeId": 0
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Web/sites/ConnectToD365'.",
            "type": "Microsoft.Web/sites",
            "kind": "functionapp",
            "name": "[parameters('sites_ConnectToD365_name')]",
            "apiVersion": "2016-08-01",
            "location": "North Europe",
            "scale": null,
            "properties": {
                "enabled": true,
                "hostNameSslStates": [
                    {
                        "name": "[concat(parameters('sites_ConnectToD365_name'),'connecttod365.azurewebsites.net')]",
                        "sslState": "Disabled",
                        "virtualIP": null,
                        "thumbprint": null,
                        "toUpdate": null,
                        "hostType": "Standard"
                    },
                    {
                        "name": "[concat(parameters('sites_ConnectToD365_name'),'connecttod365.scm.azurewebsites.net')]",
                        "sslState": "Disabled",
                        "virtualIP": null,
                        "thumbprint": null,
                        "toUpdate": null,
                        "hostType": "Repository"
                    }
                ],
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_NorthEuropePlan_name'))]",
                "reserved": false,
                "siteConfig": null,
                "scmSiteAlsoStopped": false,
                "hostingEnvironmentProfile": null,
                "clientAffinityEnabled": false,
                "clientCertEnabled": false,
                "hostNamesDisabled": false,
                "containerSize": 1536,
                "dailyMemoryTimeQuota": 0,
                "cloningInfo": null,
                "httpsOnly": false
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_NorthEuropePlan_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Web/sites/SIPDTest'.",
            "type": "Microsoft.Web/sites",
            "kind": "functionapp",
            "name": "[parameters('sites_SIPDTest_name')]",
            "apiVersion": "2016-08-01",
            "location": "North Europe",
            "scale": null,
            "properties": {
                "enabled": true,
                "hostNameSslStates": [
                    {
                        "name": "[concat(parameters('sites_SIPDTest_name'),'sipdtest.azurewebsites.net')]",
                        "sslState": "Disabled",
                        "virtualIP": null,
                        "thumbprint": null,
                        "toUpdate": null,
                        "hostType": "Standard"
                    },
                    {
                        "name": "[concat(parameters('sites_SIPDTest_name'),'sipdtest.scm.azurewebsites.net')]",
                        "sslState": "Disabled",
                        "virtualIP": null,
                        "thumbprint": null,
                        "toUpdate": null,
                        "hostType": "Repository"
                    }
                ],
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_NorthEuropePlan_name'))]",
                "reserved": false,
                "siteConfig": null,
                "scmSiteAlsoStopped": false,
                "hostingEnvironmentProfile": null,
                "clientAffinityEnabled": false,
                "clientCertEnabled": false,
                "hostNamesDisabled": false,
                "containerSize": 1536,
                "dailyMemoryTimeQuota": 0,
                "cloningInfo": null,
                "httpsOnly": false
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_NorthEuropePlan_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/accounttest'.",
            "type": "Microsoft.ApiManagement/service/apis",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_accounttest_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('apis_accounttest_name'),'AccountTest', parameters('apis_accounttest_name'))]",
                "apiRevision": "1",
                "description": "Azure Logic App.",
                "serviceUrl": "https://prod-04.northeurope.logic.azure.com/workflows/4c51369665d740fd9c7f6db30f0f0a20/triggers",
                "path": "",
                "protocols": [
                    "https"
                ],
                "authenticationSettings": null,
                "subscriptionKeyParameterNames": null,
                "apiVersion": "v1",
                "apiVersionSetId": "[resourceId('Microsoft.ApiManagement/service/api-version-sets', parameters('service_spiralit_name'), parameters('api_version_sets_5c190ef541ba133032ed3842_name'))]"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/api-version-sets', parameters('service_spiralit_name'), parameters('api_version_sets_5c190ef541ba133032ed3842_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/echo-api'.",
            "type": "Microsoft.ApiManagement/service/apis",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_echo_api_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "Echo API",
                "apiRevision": "1",
                "description": null,
                "serviceUrl": "http://echoapi.cloudapp.net/api",
                "path": "echo",
                "protocols": [
                    "https"
                ],
                "authenticationSettings": null,
                "subscriptionKeyParameterNames": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/backends/LogicApp_POSTAccount_SIPDTest'.",
            "type": "Microsoft.ApiManagement/service/backends",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('backends_LogicApp_POSTAccount_SIPDTest_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "title": null,
                "description": "POSTAccount",
                "url": "https://prod-05.northeurope.logic.azure.com/workflows/9298b050dee246bcac1621b396c4588f/triggers",
                "protocol": "http",
                "resourceId": "https://management.azure.com/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Logic/workflows/POSTAccount"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/backends/LogicApp_Test_SIPDTest'.",
            "type": "Microsoft.ApiManagement/service/backends",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('backends_LogicApp_Test_SIPDTest_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "title": null,
                "description": "Test",
                "url": "https://prod-04.northeurope.logic.azure.com/workflows/4c51369665d740fd9c7f6db30f0f0a20/triggers",
                "protocol": "http",
                "resourceId": "https://management.azure.com/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Logic/workflows/Test"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/groups/administrators'.",
            "type": "Microsoft.ApiManagement/service/groups",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('groups_administrators_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('groups_administrators_name'),'Administrators', parameters('groups_administrators_name'))]",
                "description": "[concat(parameters('groups_administrators_name'),'Administrators is a built-in group. Its membership is managed by the system. Microsoft Azure subscription ', parameters('groups_administrators_name'),' fall into this group.')]",
                "type": "system",
                "externalId": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/groups/developers'.",
            "type": "Microsoft.ApiManagement/service/groups",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('groups_developers_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('groups_developers_name'),'Developers', parameters('groups_developers_name'))]",
                "description": "[concat(parameters('groups_developers_name'),'Developers is a built-in group. Its membership is managed by the system. Signed-in users fall into this group.')]",
                "type": "system",
                "externalId": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/groups/guests'.",
            "type": "Microsoft.ApiManagement/service/groups",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('groups_guests_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('groups_guests_name'),'Guests', parameters('groups_guests_name'))]",
                "description": "[concat(parameters('groups_guests_name'),'Guests is a built-in group. Its membership is managed by the system. Unauthenticated users visiting the developer portal fall into this group.')]",
                "type": "system",
                "externalId": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/notifications/RequestPublisherNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/notifications",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('notifications_RequestPublisherNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "title": "Subscription requests (requiring approval)",
                "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
                "recipients": {
                    "emails": [],
                    "users": []
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/notifications/PurchasePublisherNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/notifications",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('notifications_PurchasePublisherNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "title": "New subscriptions",
                "description": "The following email recipients and users will receive email notifications about new API product subscriptions.",
                "recipients": {
                    "emails": [],
                    "users": []
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/notifications/NewApplicationNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/notifications",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('notifications_NewApplicationNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "title": "Application gallery requests",
                "description": "The following email recipients and users will receive email notifications when new applications are submitted to the application gallery.",
                "recipients": {
                    "emails": [],
                    "users": []
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/notifications/BCC'.",
            "type": "Microsoft.ApiManagement/service/notifications",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('notifications_BCC_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "title": "[parameters('notifications_BCC_name')]",
                "description": "The following recipients will receive blind carbon copies of all emails sent to developers.",
                "recipients": {
                    "emails": [],
                    "users": []
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/notifications/NewIssuePublisherNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/notifications",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('notifications_NewIssuePublisherNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "title": "New issue or comment",
                "description": "The following email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal.",
                "recipients": {
                    "emails": [],
                    "users": []
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/notifications/AccountClosedPublisher'.",
            "type": "Microsoft.ApiManagement/service/notifications",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('notifications_AccountClosedPublisher_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "title": "Close account message",
                "description": "The following email recipients and users will receive email notifications when developer closes his account",
                "recipients": {
                    "emails": [],
                    "users": []
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/notifications/QuotaLimitApproachingPublisherNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/notifications",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('notifications_QuotaLimitApproachingPublisherNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "title": "Approaching subscription quota limit",
                "description": "The following email recipients and users will receive email notifications when subscription usage gets close to usage quota.",
                "recipients": {
                    "emails": [],
                    "users": []
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/policies/policy'.",
            "type": "Microsoft.ApiManagement/service/policies",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('policies_policy_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "policyContent": "[concat('<!--\r\n    IMPORTANT:\r\n    - Policy elements can appear only within the <inbound>, <outbound>, <backend> section elements.\r\n    - Only the <forward-request> ', parameters('policies_policy_name'),' element can appear within the <backend> section element.\r\n    - To apply a ', parameters('policies_policy_name'),' to the incoming request (before it is forwarded to the backend service), place a corresponding ', parameters('policies_policy_name'),' element within the <inbound> section element.\r\n    - To apply a ', parameters('policies_policy_name'),' to the outgoing response (before it is sent back to the caller), place a corresponding ', parameters('policies_policy_name'),' element within the <outbound> section element.\r\n    - To add a ', parameters('policies_policy_name'),' position the cursor at the desired insertion point and click on the round button associated with the ', parameters('policies_policy_name'),'.\r\n    - To remove a ', parameters('policies_policy_name'),', delete the corresponding ', parameters('policies_policy_name'),' statement from the ', parameters('policies_policy_name'),' document.\r\n    - Policies are applied in the order of their appearance, from the top down.\r\n-->\r\n<policies>\r\n  <inbound />\r\n  <backend>\r\n    <forward-request />\r\n  </backend>\r\n  <outbound />\r\n</policies>')]"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/starter'.",
            "type": "Microsoft.ApiManagement/service/products",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_starter_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('products_starter_name'),'Starter', parameters('products_starter_name'))]",
                "description": "Subscribers will be able to run 5 calls/minute up to a maximum of 100 calls/week.",
                "terms": "",
                "subscriptionRequired": true,
                "approvalRequired": false,
                "subscriptionsLimit": 1,
                "state": "published"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/unlimited'.",
            "type": "Microsoft.ApiManagement/service/products",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_unlimited_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('products_unlimited_name'),'Unlimited', parameters('products_unlimited_name'))]",
                "description": "[concat('Subscribers have completely ', parameters('products_unlimited_name'),' access to the API. Administrator approval is required.')]",
                "terms": null,
                "subscriptionRequired": true,
                "approvalRequired": true,
                "subscriptionsLimit": 1,
                "state": "published"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/properties/5c190efc0231acd0e71c886c'.",
            "type": "Microsoft.ApiManagement/service/properties",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('properties_5c190efc0231acd0e71c886c_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat('accounttest_manual-invoke_', parameters('properties_5c190efc0231acd0e71c886c_name'))]",
                "value": "X6xD3rbAqevlT-t4q36Zkfo6_dqIdw2b8NvEIUAZoPw",
                "tags": [],
                "secret": true
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/properties/5c1a5e7f7e6aca3fc79a7017'.",
            "type": "Microsoft.ApiManagement/service/properties",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('properties_5c1a5e7f7e6aca3fc79a7017_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat('accounttest_manual-invoke_', parameters('properties_5c1a5e7f7e6aca3fc79a7017_name'))]",
                "value": "mMB21sopfJ-DzcI2gJEqMPl9_bSdrAb22B_NHx-8n_0",
                "tags": [],
                "secret": true
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/subscriptions/5c19077b6f4e710098070001'.",
            "type": "Microsoft.ApiManagement/service/subscriptions",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('subscriptions_5c19077b6f4e710098070001_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "userId": "[resourceId('Microsoft.ApiManagement/service/users', parameters('service_spiralit_name'), parameters('users_1_name'))]",
                "productId": "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_starter_name'))]",
                "displayName": null,
                "state": "active",
                "primaryKey": "a4a8065e32f545d38b711699385c62ee",
                "secondaryKey": "8ba7bae5a77f4f8bb2a70e035bb3e624"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/users', parameters('service_spiralit_name'), parameters('users_1_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_starter_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/subscriptions/5c19077b6f4e710098070002'.",
            "type": "Microsoft.ApiManagement/service/subscriptions",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('subscriptions_5c19077b6f4e710098070002_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "userId": "[resourceId('Microsoft.ApiManagement/service/users', parameters('service_spiralit_name'), parameters('users_1_name'))]",
                "productId": "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_unlimited_name'))]",
                "displayName": null,
                "state": "active",
                "primaryKey": "4e755baf8f4a43af81413644b05eb98b",
                "secondaryKey": "962d983280784792a6cf531a4bc52609"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/users', parameters('service_spiralit_name'), parameters('users_1_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_unlimited_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/ApplicationApprovedNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_ApplicationApprovedNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "Your application $AppName is published in the application gallery",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          We are happy to let you know that your request to publish the $AppName application in the application gallery has been approved. Your application has been published and can be viewed <a href=\"http://$DevPortalUrl/Applications/Details/$AppId\">here</a>.\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Best,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName API Team</p>\r\n  </body>\r\n</html>",
                "title": "Application gallery submission approved",
                "description": "Developers who submitted their application for publication in the application gallery on the developer portal receive this email after their submission is approved.",
                "parameters": [
                    {
                        "name": "AppId",
                        "title": "Application id",
                        "description": null
                    },
                    {
                        "name": "AppName",
                        "title": "Application name",
                        "description": null
                    },
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/AccountClosedDeveloper'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_AccountClosedDeveloper_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "Thank you for using the $OrganizationName API!",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          On behalf of $OrganizationName and our customers we thank you for giving us a try. Your $OrganizationName API account is now closed.\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Thank you,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Your $OrganizationName Team</p>\r\n    <a href=\"$DevPortalUrl\">$DevPortalUrl</a>\r\n    <p />\r\n  </body>\r\n</html>",
                "title": "Developer farewell letter",
                "description": "Developers receive this farewell email after they close their account.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/QuotaLimitApproachingDeveloperNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_QuotaLimitApproachingDeveloperNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "You are approaching an API quota limit",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head>\r\n    <style>\r\n          body {font-size:12pt; font-family:\"Segoe UI\",\"Segoe WP\",\"Tahoma\",\"Arial\",\"sans-serif\";}\r\n          .alert { color: red; }\r\n          .child1 { padding-left: 20px; }\r\n          .child2 { padding-left: 40px; }\r\n          .number { text-align: right; }\r\n          .text { text-align: left; }\r\n          th, td { padding: 4px 10px; min-width: 100px; }\r\n          th { background-color: #DDDDDD;}\r\n        </style>\r\n  </head>\r\n  <body>\r\n    <p>Greetings $DevFirstName $DevLastName!</p>\r\n    <p>\r\n          You are approaching the quota limit on you subscription to the <strong>$ProdName</strong> product (primary key $SubPrimaryKey).\r\n          #if ($QuotaResetDate != \"\")\r\n          This quota will be renewed on $QuotaResetDate.\r\n          #else\r\n          This quota will not be renewed.\r\n          #end\r\n        </p>\r\n    <p>Below are details on quota usage for the subscription:</p>\r\n    <p>\r\n      <table>\r\n        <thead>\r\n          <th class=\"text\">Quota Scope</th>\r\n          <th class=\"number\">Calls</th>\r\n          <th class=\"number\">Call Quota</th>\r\n          <th class=\"number\">Bandwidth</th>\r\n          <th class=\"number\">Bandwidth Quota</th>\r\n        </thead>\r\n        <tbody>\r\n          <tr>\r\n            <td class=\"text\">Subscription</td>\r\n            <td class=\"number\">\r\n                  #if ($CallsAlert == true)\r\n                  <span class=\"alert\">$Calls</span>\r\n                  #else\r\n                  $Calls\r\n                  #end\r\n                </td>\r\n            <td class=\"number\">$CallQuota</td>\r\n            <td class=\"number\">\r\n                  #if ($BandwidthAlert == true)\r\n                  <span class=\"alert\">$Bandwidth</span>\r\n                  #else\r\n                  $Bandwidth\r\n                  #end\r\n                </td>\r\n            <td class=\"number\">$BandwidthQuota</td>\r\n          </tr>\r\n              #foreach ($api in $Apis)\r\n              <tr><td class=\"child1 text\">API: $api.Name</td><td class=\"number\">\r\n                  #if ($api.CallsAlert == true)\r\n                  <span class=\"alert\">$api.Calls</span>\r\n                  #else\r\n                  $api.Calls\r\n                  #end\r\n                </td><td class=\"number\">$api.CallQuota</td><td class=\"number\">\r\n                  #if ($api.BandwidthAlert == true)\r\n                  <span class=\"alert\">$api.Bandwidth</span>\r\n                  #else\r\n                  $api.Bandwidth\r\n                  #end\r\n                </td><td class=\"number\">$api.BandwidthQuota</td></tr>\r\n              #foreach ($operation in $api.Operations)\r\n              <tr><td class=\"child2 text\">Operation: $operation.Name</td><td class=\"number\">\r\n                  #if ($operation.CallsAlert == true)\r\n                  <span class=\"alert\">$operation.Calls</span>\r\n                  #else\r\n                  $operation.Calls\r\n                  #end\r\n                </td><td class=\"number\">$operation.CallQuota</td><td class=\"number\">\r\n                  #if ($operation.BandwidthAlert == true)\r\n                  <span class=\"alert\">$operation.Bandwidth</span>\r\n                  #else\r\n                  $operation.Bandwidth\r\n                  #end\r\n                </td><td class=\"number\">$operation.BandwidthQuota</td></tr>\r\n              #end\r\n              #end\r\n            </tbody>\r\n      </table>\r\n    </p>\r\n    <p>Thank you,</p>\r\n    <p>$OrganizationName API Team</p>\r\n    <a href=\"$DevPortalUrl\">$DevPortalUrl</a>\r\n    <p />\r\n  </body>\r\n</html>",
                "title": "Developer quota limit approaching notification",
                "description": "Developers receive this email to alert them when they are approaching a quota limit.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "ProdName",
                        "title": "Product name",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "SubPrimaryKey",
                        "title": "Primary Subscription key",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    },
                    {
                        "name": "QuotaResetDate",
                        "title": "Quota reset date",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/NewDeveloperNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_NewDeveloperNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "Welcome to the $OrganizationName API!",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head>\r\n    <meta charset=\"UTF-8\" />\r\n    <title>Letter</title>\r\n  </head>\r\n  <body>\r\n    <h1 style=\"color:#000505;font-size:18pt;font-family:'Segoe UI'\">\r\n          Welcome to <span style=\"color:#003363\">$OrganizationName API!</span></h1>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Your $OrganizationName API program registration is completed and we are thrilled to have you as a customer. Here are a few important bits of information for your reference:</p>\r\n    <table width=\"100%\" style=\"margin:20px 0\">\r\n      <tr>\r\n            #if ($IdentityProvider == \"Basic\")\r\n            <td width=\"50%\" style=\"height:40px;vertical-align:top;font-family:'Segoe UI';font-size:12pt\">\r\n              Please use the following <strong>username</strong> when signing into any of the ${OrganizationName}-hosted developer portals:\r\n            </td><td style=\"vertical-align:top;font-family:'Segoe UI';font-size:12pt\"><strong>$DevUsername</strong></td>\r\n            #else\r\n            <td width=\"50%\" style=\"height:40px;vertical-align:top;font-family:'Segoe UI';font-size:12pt\">\r\n              Please use the following <strong>$IdentityProvider account</strong> when signing into any of the ${OrganizationName}-hosted developer portals:\r\n            </td><td style=\"vertical-align:top;font-family:'Segoe UI';font-size:12pt\"><strong>$DevUsername</strong></td>            \r\n            #end\r\n          </tr>\r\n      <tr>\r\n        <td style=\"height:40px;vertical-align:top;font-family:'Segoe UI';font-size:12pt\">\r\n              We will direct all communications to the following <strong>email address</strong>:\r\n            </td>\r\n        <td style=\"vertical-align:top;font-family:'Segoe UI';font-size:12pt\">\r\n          <a href=\"mailto:$DevEmail\" style=\"text-decoration:none\">\r\n            <strong>$DevEmail</strong>\r\n          </a>\r\n        </td>\r\n      </tr>\r\n    </table>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Best of luck in your API pursuits!</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">$OrganizationName API Team</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n      <a href=\"http://$DevPortalUrl\">$DevPortalUrl</a>\r\n    </p>\r\n  </body>\r\n</html>",
                "title": "Developer welcome letter",
                "description": "Developers receive this welcome email after they confirm their new account.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "DevUsername",
                        "title": "Developer user name",
                        "description": null
                    },
                    {
                        "name": "DevEmail",
                        "title": "Developer email",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    },
                    {
                        "name": "IdentityProvider",
                        "title": "Identity Provider selected by Organization",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/EmailChangeIdentityDefault'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_EmailChangeIdentityDefault_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "Please confirm the new email associated with your $OrganizationName API account",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head>\r\n    <meta charset=\"UTF-8\" />\r\n    <title>Letter</title>\r\n  </head>\r\n  <body>\r\n    <table width=\"100%\">\r\n      <tr>\r\n        <td>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\"></p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">You are receiving this email because you made a change to the email address on your $OrganizationName API account.</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Please click on the following link to confirm the change:</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n            <a id=\"confirmUrl\" href=\"$ConfirmUrl\" style=\"text-decoration:none\">\r\n              <strong>$ConfirmUrl</strong>\r\n            </a>\r\n          </p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">If clicking the link does not work, please copy-and-paste or re-type it into your browser's address bar and hit \"Enter\".</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Thank you,</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">$OrganizationName API Team</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n            <a href=\"$DevPortalUrl\">$DevPortalUrl</a>\r\n          </p>\r\n        </td>\r\n      </tr>\r\n    </table>\r\n  </body>\r\n</html>",
                "title": "Email change confirmation",
                "description": "Developers receive this email to confirm a new e-mail address after they change their existing one associated with their account.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    },
                    {
                        "name": "ConfirmUrl",
                        "title": "Developer confirmation URL",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/InviteUserNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_InviteUserNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "You are invited to join the $OrganizationName developer network",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          Your account has been created. Please follow the link below to visit the $OrganizationName developer portal and claim it:\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n      <a href=\"$ConfirmUrl\">$ConfirmUrl</a>\r\n    </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Best,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName API Team</p>\r\n  </body>\r\n</html>",
                "title": "Invite user",
                "description": "An e-mail invitation to create an account, sent on request by API publishers.",
                "parameters": [
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "ConfirmUrl",
                        "title": "Confirmation link",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/NewCommentNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_NewCommentNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "$IssueName issue has a new comment",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">This is a brief note to let you know that $CommenterFirstName $CommenterLastName made the following comment on the issue $IssueName you created:</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">$CommentText</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          To view the issue on the developer portal click <a href=\"http://$DevPortalUrl/issues/$IssueId\">here</a>.\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Best,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName API Team</p>\r\n  </body>\r\n</html>",
                "title": "New comment added to an issue",
                "description": "Developers receive this email when someone comments on the issue they created on the Issues page of the developer portal.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "CommenterFirstName",
                        "title": "Commenter first name",
                        "description": null
                    },
                    {
                        "name": "CommenterLastName",
                        "title": "Commenter last name",
                        "description": null
                    },
                    {
                        "name": "IssueId",
                        "title": "Issue id",
                        "description": null
                    },
                    {
                        "name": "IssueName",
                        "title": "Issue name",
                        "description": null
                    },
                    {
                        "name": "CommentText",
                        "title": "Comment text",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/ConfirmSignUpIdentityDefault'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_ConfirmSignUpIdentityDefault_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "Please confirm your new $OrganizationName API account",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head>\r\n    <meta charset=\"UTF-8\" />\r\n    <title>Letter</title>\r\n  </head>\r\n  <body>\r\n    <table width=\"100%\">\r\n      <tr>\r\n        <td>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\"></p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Thank you for joining the $OrganizationName API program! We host a growing number of cool APIs and strive to provide an awesome experience for API developers.</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">First order of business is to activate your account and get you going. To that end, please click on the following link:</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n            <a id=\"confirmUrl\" href=\"$ConfirmUrl\" style=\"text-decoration:none\">\r\n              <strong>$ConfirmUrl</strong>\r\n            </a>\r\n          </p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">If clicking the link does not work, please copy-and-paste or re-type it into your browser's address bar and hit \"Enter\".</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Thank you,</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">$OrganizationName API Team</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n            <a href=\"$DevPortalUrl\">$DevPortalUrl</a>\r\n          </p>\r\n        </td>\r\n      </tr>\r\n    </table>\r\n  </body>\r\n</html>",
                "title": "New developer account confirmation",
                "description": "Developers receive this email to confirm their e-mail address after they sign up for a new account.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    },
                    {
                        "name": "ConfirmUrl",
                        "title": "Developer activation URL",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/NewIssueNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_NewIssueNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "Your request $IssueName was received",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Thank you for contacting us. Our API team will review your issue and get back to you soon.</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          Click this <a href=\"http://$DevPortalUrl/issues/$IssueId\">link</a> to view or edit your request.\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Best,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName API Team</p>\r\n  </body>\r\n</html>",
                "title": "New issue received",
                "description": "This email is sent to developers after they create a new topic on the Issues page of the developer portal.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "IssueId",
                        "title": "Issue id",
                        "description": null
                    },
                    {
                        "name": "IssueName",
                        "title": "Issue name",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/PurchaseDeveloperNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_PurchaseDeveloperNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "Your subscription to the $ProdName",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Greetings $DevFirstName $DevLastName!</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          Thank you for subscribing to the <a href=\"http://$DevPortalUrl/products/$ProdId\"><strong>$ProdName</strong></a> and welcome to the $OrganizationName developer community. We are delighted to have you as part of the team and are looking forward to the amazing applications you will build using our API!\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Below are a few subscription details for your reference:</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n      <ul>\r\n            #if ($SubStartDate != \"\")\r\n            <li style=\"font-size:12pt;font-family:'Segoe UI'\">Start date: $SubStartDate</li>\r\n            #end\r\n            \r\n            #if ($SubTerm != \"\")\r\n            <li style=\"font-size:12pt;font-family:'Segoe UI'\">Subscription term: $SubTerm</li>\r\n            #end\r\n          </ul>\r\n    </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n            Visit the developer <a href=\"http://$DevPortalUrl/developer\">profile area</a> to manage your subscription and subscription keys\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">A couple of pointers to help get you started:</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n      <strong>\r\n        <a href=\"http://$DevPortalUrl/docs/services?product=$ProdId\">Learn about the API</a>\r\n      </strong>\r\n    </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">The API documentation provides all information necessary to make a request and to process a response. Code samples are provided per API operation in a variety of languages. Moreover, an interactive console allows making API calls directly from the developer portal without writing any code.</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n      <strong>\r\n        <a href=\"http://$DevPortalUrl/applications\">Feature your app in the app gallery</a>\r\n      </strong>\r\n    </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">You can publish your application on our gallery for increased visibility to potential new users.</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n      <strong>\r\n        <a href=\"http://$DevPortalUrl/issues\">Stay in touch</a>\r\n      </strong>\r\n    </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          If you have an issue, a question, a suggestion, a request, or if you just want to tell us something, go to the <a href=\"http://$DevPortalUrl/issues\">Issues</a> page on the developer portal and create a new topic.\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Happy hacking,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName API Team</p>\r\n    <a style=\"font-size:12pt;font-family:'Segoe UI'\" href=\"http://$DevPortalUrl\">$DevPortalUrl</a>\r\n  </body>\r\n</html>",
                "title": "New subscription activated",
                "description": "Developers receive this acknowledgement email after subscribing to a product.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "ProdId",
                        "title": "Product ID",
                        "description": null
                    },
                    {
                        "name": "ProdName",
                        "title": "Product name",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "SubStartDate",
                        "title": "Subscription start date",
                        "description": null
                    },
                    {
                        "name": "SubTerm",
                        "title": "Subscription term",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/PasswordResetIdentityDefault'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_PasswordResetIdentityDefault_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "Your password change request",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head>\r\n    <meta charset=\"UTF-8\" />\r\n    <title>Letter</title>\r\n  </head>\r\n  <body>\r\n    <table width=\"100%\">\r\n      <tr>\r\n        <td>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\"></p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">You are receiving this email because you requested to change the password on your $OrganizationName API account.</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Please click on the link below and follow instructions to create your new password:</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n            <a id=\"resetUrl\" href=\"$ConfirmUrl\" style=\"text-decoration:none\">\r\n              <strong>$ConfirmUrl</strong>\r\n            </a>\r\n          </p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">If clicking the link does not work, please copy-and-paste or re-type it into your browser's address bar and hit \"Enter\".</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Thank you,</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">$OrganizationName API Team</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n            <a href=\"$DevPortalUrl\">$DevPortalUrl</a>\r\n          </p>\r\n        </td>\r\n      </tr>\r\n    </table>\r\n  </body>\r\n</html>",
                "title": "Password change confirmation",
                "description": "Developers receive this email when they request a password change of their account. The purpose of the email is to verify that the account owner made the request and to provide a one-time perishable URL for changing the password.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    },
                    {
                        "name": "ConfirmUrl",
                        "title": "Developer new password instruction URL",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/PasswordResetByAdminNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_PasswordResetByAdminNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "Your password was reset",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <table width=\"100%\">\r\n      <tr>\r\n        <td>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\"></p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">The password of your $OrganizationName API account has been reset, per your request.</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n                Your new password is: <strong>$DevPassword</strong></p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Please make sure to change it next time you sign in.</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">Thank you,</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">$OrganizationName API Team</p>\r\n          <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n            <a href=\"$DevPortalUrl\">$DevPortalUrl</a>\r\n          </p>\r\n        </td>\r\n      </tr>\r\n    </table>\r\n  </body>\r\n</html>",
                "title": "Password reset by publisher notification (Password reset by admin)",
                "description": "Developers receive this email when the publisher resets their password.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "DevPassword",
                        "title": "New Developer password",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/RejectDeveloperNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_RejectDeveloperNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "Your subscription request for the $ProdName",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          We would like to inform you that we reviewed your subscription request for the <strong>$ProdName</strong>.\r\n        </p>\r\n        #if ($SubDeclineReason == \"\")\r\n        <p style=\"font-size:12pt;font-family:'Segoe UI'\">Regretfully, we were unable to approve it, as subscriptions are temporarily suspended at this time.</p>\r\n        #else\r\n        <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          Regretfully, we were unable to approve it at this time for the following reason:\r\n          <div style=\"margin-left: 1.5em;\"> $SubDeclineReason </div></p>\r\n        #end\r\n        <p style=\"font-size:12pt;font-family:'Segoe UI'\"> We truly appreciate your interest. </p><p style=\"font-size:12pt;font-family:'Segoe UI'\">All the best,</p><p style=\"font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName API Team</p><a style=\"font-size:12pt;font-family:'Segoe UI'\" href=\"http://$DevPortalUrl\">$DevPortalUrl</a></body>\r\n</html>",
                "title": "Subscription request declined",
                "description": "This email is sent to developers when their subscription requests for products requiring publisher approval is declined.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "SubDeclineReason",
                        "title": "Reason for declining subscription",
                        "description": null
                    },
                    {
                        "name": "ProdName",
                        "title": "Product name",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/templates/RequestDeveloperNotificationMessage'.",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('templates_RequestDeveloperNotificationMessage_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "subject": "Your subscription request for the $ProdName",
                "body": "<!DOCTYPE html >\r\n<html>\r\n  <head />\r\n  <body>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Dear $DevFirstName $DevLastName,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          Thank you for your interest in our <strong>$ProdName</strong> API product!\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">\r\n          We were delighted to receive your subscription request. We will promptly review it and get back to you at <strong>$DevEmail</strong>.\r\n        </p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">Thank you,</p>\r\n    <p style=\"font-size:12pt;font-family:'Segoe UI'\">The $OrganizationName API Team</p>\r\n    <a style=\"font-size:12pt;font-family:'Segoe UI'\" href=\"http://$DevPortalUrl\">$DevPortalUrl</a>\r\n  </body>\r\n</html>",
                "title": "Subscription request received",
                "description": "This email is sent to developers to acknowledge receipt of their subscription requests for products requiring publisher approval.",
                "parameters": [
                    {
                        "name": "DevFirstName",
                        "title": "Developer first name",
                        "description": null
                    },
                    {
                        "name": "DevLastName",
                        "title": "Developer last name",
                        "description": null
                    },
                    {
                        "name": "DevEmail",
                        "title": "Developer email",
                        "description": null
                    },
                    {
                        "name": "ProdName",
                        "title": "Product name",
                        "description": null
                    },
                    {
                        "name": "OrganizationName",
                        "title": "Organization name",
                        "description": null
                    },
                    {
                        "name": "DevPortalUrl",
                        "title": "Developer portal URL",
                        "description": null
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/users/1'.",
            "type": "Microsoft.ApiManagement/service/users",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('users_1_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "firstName": "Administrator",
                "lastName": "",
                "email": "andydow@spiralit.net",
                "state": "active",
                "note": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/api-version-sets/5c190ef541ba133032ed3842'.",
            "type": "Microsoft.ApiManagement/service/api-version-sets",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('api_version_sets_5c190ef541ba133032ed3842_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "AccountTest",
                "description": null,
                "versioningScheme": "Segment",
                "versionQueryName": null,
                "versionHeaderName": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/accounttest/operations/manual-invoke'.",
            "type": "Microsoft.ApiManagement/service/apis/operations",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_accounttest_name'), '/', parameters('operations_manual_invoke_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "AccountTest",
                "method": "POST",
                "urlTemplate": "/account-test",
                "templateParameters": [],
                "description": "Trigger a run of the logic app.",
                "request": {
                    "description": "The request body.",
                    "queryParameters": [],
                    "headers": [],
                    "representations": [
                        {
                            "contentType": "application/json",
                            "schemaId": "5c190f0190005913b8cea40e",
                            "typeName": "request-manual"
                        }
                    ]
                },
                "responses": [
                    {
                        "statusCode": 200,
                        "description": "The Logic App Response for action with status code '200'.",
                        "representations": [
                            {
                                "contentType": "application/json",
                                "schemaId": "5c190f0190005913b8cea40e",
                                "typeName": "response-200"
                            }
                        ],
                        "headers": []
                    },
                    {
                        "statusCode": 500,
                        "description": "The Logic App Response.",
                        "representations": [
                            {
                                "contentType": "application/json",
                                "schemaId": "5c190f0190005913b8cea40e",
                                "typeName": "ManualPathsInvokePost500ApplicationJsonResponse"
                            }
                        ],
                        "headers": []
                    }
                ],
                "policies": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_accounttest_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/accounttest/operations/5c19178dfa120aae4a040e70'.",
            "type": "Microsoft.ApiManagement/service/apis/operations",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_accounttest_name'), '/', parameters('operations_5c19178dfa120aae4a040e70_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "AccountTest",
                "method": "GET",
                "urlTemplate": "/account-test",
                "templateParameters": [],
                "description": "Trigger a run of the logic app.",
                "request": {
                    "description": "The request body.",
                    "queryParameters": [],
                    "headers": [],
                    "representations": [
                        {
                            "contentType": "application/json",
                            "schemaId": "5c190f0190005913b8cea40e",
                            "typeName": "request-manual"
                        }
                    ]
                },
                "responses": [
                    {
                        "statusCode": 200,
                        "description": "The Logic App Response for action with status code '200'.",
                        "representations": [
                            {
                                "contentType": "application/json",
                                "schemaId": "5c190f0190005913b8cea40e",
                                "typeName": "response-200"
                            }
                        ],
                        "headers": []
                    },
                    {
                        "statusCode": 500,
                        "description": "The Logic App Response.",
                        "representations": [
                            {
                                "contentType": "application/json",
                                "schemaId": "5c190f0190005913b8cea40e",
                                "typeName": "ManualPathsInvokePost500ApplicationJsonResponse"
                            }
                        ],
                        "headers": []
                    }
                ],
                "policies": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_accounttest_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/accounttest/policies/policy'.",
            "type": "Microsoft.ApiManagement/service/apis/policies",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_accounttest_name'), '/', parameters('policies_policy_name_1'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "policyContent": "[concat('<policies>\r\n  <inbound>\r\n    <base />\r\n    <set-backend-service id=\"apim-generated-', parameters('policies_policy_name_1'),'\" backend-id=\"LogicApp_Test_SIPDTest\" />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n  <on-error>\r\n    <base />\r\n  </on-error>\r\n</policies>')]"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_accounttest_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/accounttest/schemas/5c190f0190005913b8cea40e'.",
            "type": "Microsoft.ApiManagement/service/apis/schemas",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_accounttest_name'), '/', parameters('schemas_5c190f0190005913b8cea40e_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "contentType": "application/vnd.ms-azure-apim.swagger.definitions+json",
                "document": {}
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_accounttest_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/accounttest/operations/manual-invoke/policies/policy'.",
            "type": "Microsoft.ApiManagement/service/apis/operations/policies",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_accounttest_name'), '/', parameters('operations_manual_invoke_name'), '/', parameters('policies_policy_name_4'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "policyContent": "[concat('<policies>\r\n  <inbound>\r\n    <base />\r\n    <set-backend-service id=\"apim-generated-', parameters('policies_policy_name_4'),'\" backend-id=\"LogicApp_POSTAccount_SIPDTest\" />\r\n    <set-method id=\"apim-generated-', parameters('policies_policy_name_4'),'\">POST</set-method>\r\n    <rewrite-uri id=\"apim-generated-', parameters('policies_policy_name_4'),'\" template=\"/manual/paths/invoke/?api-version=2016-06-01&amp;sp=/triggers/manual/run&amp;sv=1.0&amp;sig={{accounttest_manual-invoke_5c1a5e7f7e6aca3fc79a7017}}\" />\r\n    <set-header id=\"apim-generated-', parameters('policies_policy_name_4'),'\" name=\"Ocp-Apim-Subscription-Key\" exists-action=\"delete\" />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n    <set-header name=\"Trace\" exists-action=\"append\">\r\n      <value>ItWorked!</value>\r\n    </set-header>\r\n  </outbound>\r\n  <on-error>\r\n    <base />\r\n  </on-error>\r\n</policies>')]"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_accounttest_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis/operations', parameters('service_spiralit_name'), parameters('apis_accounttest_name'), parameters('operations_manual_invoke_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/accounttest/operations/5c19178dfa120aae4a040e70/policies/policy'.",
            "type": "Microsoft.ApiManagement/service/apis/operations/policies",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_accounttest_name'), '/', parameters('operations_5c19178dfa120aae4a040e70_name'), '/', parameters('policies_policy_name_7'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "policyContent": "[concat('<policies>\r\n  <inbound>\r\n    <base />\r\n    <set-method id=\"apim-generated-', parameters('policies_policy_name_7'),'\">POST</set-method>\r\n    <rewrite-uri id=\"apim-generated-', parameters('policies_policy_name_7'),'\" template=\"/manual/paths/invoke/?api-version=2016-06-01&amp;sp=/triggers/manual/run&amp;sv=1.0&amp;sig={{accounttest_manual-invoke_5c190efc0231acd0e71c886c}}\" />\r\n    <set-header id=\"apim-generated-', parameters('policies_policy_name_7'),'\" name=\"Ocp-Apim-Subscription-Key\" exists-action=\"delete\" />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n  <on-error>\r\n    <base />\r\n  </on-error>\r\n</policies>')]"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_accounttest_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis/operations', parameters('service_spiralit_name'), parameters('apis_accounttest_name'), parameters('operations_5c19178dfa120aae4a040e70_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/echo-api/operations/create-resource'.",
            "type": "Microsoft.ApiManagement/service/apis/operations",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_echo_api_name'), '/', parameters('operations_create_resource_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "Create resource",
                "method": "POST",
                "urlTemplate": "/resource",
                "templateParameters": [],
                "description": "A demonstration of a POST call based on the echo backend above. The request body is expected to contain JSON-formatted data (see example below). A policy is used to automatically transform any request sent in JSON directly to XML. In a real-world scenario this could be used to enable modern clients to speak to a legacy backend.",
                "request": {
                    "queryParameters": [],
                    "headers": [],
                    "representations": [
                        {
                            "contentType": "application/json",
                            "sample": "{\r\n\t\"vehicleType\": \"train\",\r\n\t\"maxSpeed\": 125,\r\n\t\"avgSpeed\": 90,\r\n\t\"speedUnit\": \"mph\"\r\n}"
                        }
                    ]
                },
                "responses": [
                    {
                        "statusCode": 200,
                        "representations": [],
                        "headers": []
                    }
                ],
                "policies": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_echo_api_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/echo-api/operations/modify-resource'.",
            "type": "Microsoft.ApiManagement/service/apis/operations",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_echo_api_name'), '/', parameters('operations_modify_resource_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "Modify Resource",
                "method": "PUT",
                "urlTemplate": "/resource",
                "templateParameters": [],
                "description": "A demonstration of a PUT call handled by the same \"echo\" backend as above. You can now specify a request body in addition to headers and it will be returned as well.",
                "responses": [
                    {
                        "statusCode": 200,
                        "representations": [],
                        "headers": []
                    }
                ],
                "policies": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_echo_api_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/echo-api/operations/remove-resource'.",
            "type": "Microsoft.ApiManagement/service/apis/operations",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_echo_api_name'), '/', parameters('operations_remove_resource_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "Remove resource",
                "method": "DELETE",
                "urlTemplate": "/resource",
                "templateParameters": [],
                "description": "A demonstration of a DELETE call which traditionally deletes the resource. It is based on the same \"echo\" backend as in all other operations so nothing is actually deleted.",
                "responses": [
                    {
                        "statusCode": 200,
                        "representations": [],
                        "headers": []
                    }
                ],
                "policies": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_echo_api_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/echo-api/operations/retrieve-header-only'.",
            "type": "Microsoft.ApiManagement/service/apis/operations",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_echo_api_name'), '/', parameters('operations_retrieve_header_only_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "Retrieve header only",
                "method": "HEAD",
                "urlTemplate": "/resource",
                "templateParameters": [],
                "description": "The HEAD operation returns only headers. In this demonstration a policy is used to set additional headers when the response is returned and to enable JSONP.",
                "responses": [
                    {
                        "statusCode": 200,
                        "representations": [],
                        "headers": []
                    }
                ],
                "policies": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_echo_api_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/echo-api/operations/retrieve-resource'.",
            "type": "Microsoft.ApiManagement/service/apis/operations",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_echo_api_name'), '/', parameters('operations_retrieve_resource_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "Retrieve resource",
                "method": "GET",
                "urlTemplate": "/resource",
                "templateParameters": [],
                "description": "A demonstration of a GET call on a sample resource. It is handled by an \"echo\" backend which returns a response equal to the request (the supplied headers and body are being returned as received).",
                "request": {
                    "queryParameters": [
                        {
                            "name": "param1",
                            "description": "A sample parameter that is required and has a default value of \"sample\".",
                            "type": "string",
                            "defaultValue": "sample",
                            "required": true,
                            "values": [
                                "sample"
                            ]
                        },
                        {
                            "name": "param2",
                            "description": "Another sample parameter, set to not required.",
                            "type": "number",
                            "values": []
                        }
                    ],
                    "headers": [],
                    "representations": []
                },
                "responses": [
                    {
                        "statusCode": 200,
                        "description": "Returned in all cases.",
                        "representations": [],
                        "headers": []
                    }
                ],
                "policies": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_echo_api_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/echo-api/operations/retrieve-resource-cached'.",
            "type": "Microsoft.ApiManagement/service/apis/operations",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_echo_api_name'), '/', parameters('operations_retrieve_resource_cached_name'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "Retrieve resource (cached)",
                "method": "GET",
                "urlTemplate": "/resource-cached",
                "templateParameters": [],
                "description": "A demonstration of a GET call with caching enabled on the same \"echo\" backend as above. Cache TTL is set to 1 hour. When you make the first request the headers you supplied will be cached. Subsequent calls will return the same headers as the first time even if you change them in your request.",
                "request": {
                    "queryParameters": [
                        {
                            "name": "param1",
                            "description": "A sample parameter that is required and has a default value of \"sample\".",
                            "type": "string",
                            "defaultValue": "sample",
                            "required": true,
                            "values": [
                                "sample"
                            ]
                        },
                        {
                            "name": "param2",
                            "description": "Another sample parameter, set to not required.",
                            "type": "string",
                            "values": []
                        }
                    ],
                    "headers": [],
                    "representations": []
                },
                "responses": [
                    {
                        "statusCode": 200,
                        "representations": [],
                        "headers": []
                    }
                ],
                "policies": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_echo_api_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/echo-api/operations/create-resource/policies/policy'.",
            "type": "Microsoft.ApiManagement/service/apis/operations/policies",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_echo_api_name'), '/', parameters('operations_create_resource_name'), '/', parameters('policies_policy_name_3'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "policyContent": "<policies>\r\n  <inbound>\r\n    <base />\r\n    <json-to-xml apply=\"always\" consider-accept-header=\"false\" />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n</policies>"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_echo_api_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis/operations', parameters('service_spiralit_name'), parameters('apis_echo_api_name'), parameters('operations_create_resource_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/echo-api/operations/retrieve-header-only/policies/policy'.",
            "type": "Microsoft.ApiManagement/service/apis/operations/policies",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_echo_api_name'), '/', parameters('operations_retrieve_header_only_name'), '/', parameters('policies_policy_name_5'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "policyContent": "<policies>\r\n  <inbound>\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n    <set-header name=\"X-My-Sample\" exists-action=\"override\">\r\n      <value>This is a sample</value>\r\n      <!-- for multiple headers with the same name add additional value elements -->\r\n    </set-header>\r\n    <jsonp callback-parameter-name=\"ProcessResponse\" />\r\n  </outbound>\r\n</policies>"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_echo_api_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis/operations', parameters('service_spiralit_name'), parameters('apis_echo_api_name'), parameters('operations_retrieve_header_only_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/apis/echo-api/operations/retrieve-resource-cached/policies/policy'.",
            "type": "Microsoft.ApiManagement/service/apis/operations/policies",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('apis_echo_api_name'), '/', parameters('operations_retrieve_resource_cached_name'), '/', parameters('policies_policy_name_6'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "policyContent": "<policies>\r\n  <inbound>\r\n    <base />\r\n    <cache-lookup vary-by-developer=\"false\" vary-by-developer-groups=\"false\">\r\n      <vary-by-header>Accept</vary-by-header>\r\n      <vary-by-header>Accept-Charset</vary-by-header>\r\n    </cache-lookup>\r\n    <rewrite-uri template=\"/resource\" />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n    <cache-store duration=\"3600\" />\r\n  </outbound>\r\n</policies>"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis', parameters('service_spiralit_name'), parameters('apis_echo_api_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/apis/operations', parameters('service_spiralit_name'), parameters('apis_echo_api_name'), parameters('operations_retrieve_resource_cached_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/groups/administrators/users/1'.",
            "type": "Microsoft.ApiManagement/service/groups/users",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('groups_administrators_name'), '/', parameters('users_1_name_2'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "firstName": "Administrator",
                "lastName": "",
                "email": "andydow@spiralit.net",
                "state": "active",
                "registrationDate": "[concat('20', parameters('users_1_name_2'),'8-', parameters('users_1_name_2'),'2-', parameters('users_1_name_2'),'8T', parameters('users_1_name_2'),'4:43:06.377Z')]",
                "note": null,
                "identities": [
                    {
                        "provider": "Azure",
                        "id": "andydow@spiralit.net"
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/groups', parameters('service_spiralit_name'), parameters('groups_administrators_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/groups/developers/users/1'.",
            "type": "Microsoft.ApiManagement/service/groups/users",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('groups_developers_name'), '/', parameters('users_1_name_1'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "firstName": "Administrator",
                "lastName": "",
                "email": "andydow@spiralit.net",
                "state": "active",
                "registrationDate": "[concat('20', parameters('users_1_name_1'),'8-', parameters('users_1_name_1'),'2-', parameters('users_1_name_1'),'8T', parameters('users_1_name_1'),'4:43:06.377Z')]",
                "note": null,
                "identities": [
                    {
                        "provider": "Azure",
                        "id": "andydow@spiralit.net"
                    }
                ]
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/groups', parameters('service_spiralit_name'), parameters('groups_developers_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/starter/apis/echo-api'.",
            "type": "Microsoft.ApiManagement/service/products/apis",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_starter_name'), '/', parameters('apis_echo_api_name_1'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "Echo API",
                "apiRevision": "1",
                "description": null,
                "serviceUrl": "http://echoapi.cloudapp.net/api",
                "path": "echo",
                "protocols": [
                    "https"
                ],
                "authenticationSettings": null,
                "subscriptionKeyParameterNames": null,
                "isCurrent": true
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_starter_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/starter/groups/administrators'.",
            "type": "Microsoft.ApiManagement/service/products/groups",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_starter_name'), '/', parameters('groups_administrators_name_1'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('groups_administrators_name_1'),'Administrators', parameters('groups_administrators_name_1'))]",
                "description": "[concat(parameters('groups_administrators_name_1'),'Administrators is a built-in group. Its membership is managed by the system. Microsoft Azure subscription ', parameters('groups_administrators_name_1'),' fall into this group.')]",
                "builtIn": true,
                "type": "system",
                "externalId": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_starter_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/starter/groups/developers'.",
            "type": "Microsoft.ApiManagement/service/products/groups",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_starter_name'), '/', parameters('groups_developers_name_1'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('groups_developers_name_1'),'Developers', parameters('groups_developers_name_1'))]",
                "description": "[concat(parameters('groups_developers_name_1'),'Developers is a built-in group. Its membership is managed by the system. Signed-in users fall into this group.')]",
                "builtIn": true,
                "type": "system",
                "externalId": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_starter_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/starter/groups/guests'.",
            "type": "Microsoft.ApiManagement/service/products/groups",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_starter_name'), '/', parameters('groups_guests_name_1'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('groups_guests_name_1'),'Guests', parameters('groups_guests_name_1'))]",
                "description": "[concat(parameters('groups_guests_name_1'),'Guests is a built-in group. Its membership is managed by the system. Unauthenticated users visiting the developer portal fall into this group.')]",
                "builtIn": true,
                "type": "system",
                "externalId": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_starter_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/starter/policies/policy'.",
            "type": "Microsoft.ApiManagement/service/products/policies",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_starter_name'), '/', parameters('policies_policy_name_2'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "policyContent": "[concat('<!--\r\n            IMPORTANT:\r\n            - Policy elements can appear only within the <inbound>, <outbound>, <backend> section elements.\r\n            - Only the <forward-request> ', parameters('policies_policy_name_2'),' element can appear within the <backend> section element.\r\n            - To apply a ', parameters('policies_policy_name_2'),' to the incoming request (before it is forwarded to the backend service), place a corresponding ', parameters('policies_policy_name_2'),' element within the <inbound> section element.\r\n            - To apply a ', parameters('policies_policy_name_2'),' to the outgoing response (before it is sent back to the caller), place a corresponding ', parameters('policies_policy_name_2'),' element within the <outbound> section element.\r\n            - To add a ', parameters('policies_policy_name_2'),' position the cursor at the desired insertion point and click on the round button associated with the ', parameters('policies_policy_name_2'),'.\r\n            - To remove a ', parameters('policies_policy_name_2'),', delete the corresponding ', parameters('policies_policy_name_2'),' statement from the ', parameters('policies_policy_name_2'),' document.\r\n            - Position the <base> element within a section element to inherit all policies from the corresponding section element in the enclosing scope.\r\n            - Remove the <base> element to prevent inheriting policies from the corresponding section element in the enclosing scope.\r\n            - Policies are applied in the order of their appearance, from the top down.\r\n        -->\r\n<policies>\r\n  <inbound>\r\n    <rate-limit calls=\"5\" renewal-period=\"60\" />\r\n    <quota calls=\"100\" renewal-period=\"604800\" />\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n</policies>')]"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_starter_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/unlimited/apis/accounttest'.",
            "type": "Microsoft.ApiManagement/service/products/apis",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_unlimited_name'), '/', parameters('apis_accounttest_name_1'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('apis_accounttest_name_1'),'AccountTest', parameters('apis_accounttest_name_1'))]",
                "apiRevision": "1",
                "description": "Azure Logic App.",
                "serviceUrl": "https://prod-04.northeurope.logic.azure.com/workflows/4c51369665d740fd9c7f6db30f0f0a20/triggers",
                "path": "",
                "protocols": [
                    "https"
                ],
                "authenticationSettings": null,
                "subscriptionKeyParameterNames": null,
                "isCurrent": true,
                "apiVersion": "v1",
                "apiVersionSetId": "[resourceId('Microsoft.ApiManagement/service/api-version-sets', parameters('service_spiralit_name'), parameters('api_version_sets_5c190ef541ba133032ed3842_name'))]"
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_unlimited_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/api-version-sets', parameters('service_spiralit_name'), parameters('api_version_sets_5c190ef541ba133032ed3842_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/unlimited/apis/echo-api'.",
            "type": "Microsoft.ApiManagement/service/products/apis",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_unlimited_name'), '/', parameters('apis_echo_api_name_2'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "Echo API",
                "apiRevision": "1",
                "description": null,
                "serviceUrl": "http://echoapi.cloudapp.net/api",
                "path": "echo",
                "protocols": [
                    "https"
                ],
                "authenticationSettings": null,
                "subscriptionKeyParameterNames": null,
                "isCurrent": true
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_unlimited_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/unlimited/groups/administrators'.",
            "type": "Microsoft.ApiManagement/service/products/groups",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_unlimited_name'), '/', parameters('groups_administrators_name_2'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('groups_administrators_name_2'),'Administrators', parameters('groups_administrators_name_2'))]",
                "description": "[concat(parameters('groups_administrators_name_2'),'Administrators is a built-in group. Its membership is managed by the system. Microsoft Azure subscription ', parameters('groups_administrators_name_2'),' fall into this group.')]",
                "builtIn": true,
                "type": "system",
                "externalId": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_unlimited_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/unlimited/groups/developers'.",
            "type": "Microsoft.ApiManagement/service/products/groups",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_unlimited_name'), '/', parameters('groups_developers_name_2'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('groups_developers_name_2'),'Developers', parameters('groups_developers_name_2'))]",
                "description": "[concat(parameters('groups_developers_name_2'),'Developers is a built-in group. Its membership is managed by the system. Signed-in users fall into this group.')]",
                "builtIn": true,
                "type": "system",
                "externalId": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_unlimited_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.ApiManagement/service/spiralit/products/unlimited/groups/guests'.",
            "type": "Microsoft.ApiManagement/service/products/groups",
            "name": "[concat(parameters('service_spiralit_name'), '/', parameters('products_unlimited_name'), '/', parameters('groups_guests_name_2'))]",
            "apiVersion": "2018-01-01",
            "scale": null,
            "properties": {
                "displayName": "[concat(parameters('groups_guests_name_2'),'Guests', parameters('groups_guests_name_2'))]",
                "description": "[concat(parameters('groups_guests_name_2'),'Guests is a built-in group. Its membership is managed by the system. Unauthenticated users visiting the developer portal fall into this group.')]",
                "builtIn": true,
                "type": "system",
                "externalId": null
            },
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_spiralit_name'))]",
                "[resourceId('Microsoft.ApiManagement/service/products', parameters('service_spiralit_name'), parameters('products_unlimited_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Web/sites/ConnectToD365/config/web'.",
            "type": "Microsoft.Web/sites/config",
            "name": "[concat(parameters('sites_ConnectToD365_name'), '/', parameters('config_web_name_1'))]",
            "apiVersion": "2016-08-01",
            "location": "North Europe",
            "scale": null,
            "properties": {
                "numberOfWorkers": 1,
                "defaultDocuments": [
                    "Default.htm",
                    "Default.html",
                    "Default.asp",
                    "index.htm",
                    "index.html",
                    "iisstart.htm",
                    "default.aspx",
                    "index.php"
                ],
                "netFrameworkVersion": "v4.0",
                "phpVersion": "5.6",
                "pythonVersion": "",
                "nodeVersion": "",
                "linuxFxVersion": "",
                "windowsFxVersion": null,
                "requestTracingEnabled": false,
                "remoteDebuggingEnabled": false,
                "remoteDebuggingVersion": null,
                "httpLoggingEnabled": false,
                "logsDirectorySizeLimit": 35,
                "detailedErrorLoggingEnabled": false,
                "publishingUsername": "$ConnectToD365",
                "publishingPassword": null,
                "appSettings": null,
                "azureStorageAccounts": {},
                "metadata": null,
                "connectionStrings": null,
                "machineKey": null,
                "handlerMappings": null,
                "documentRoot": null,
                "scmType": "None",
                "use32BitWorkerProcess": true,
                "webSocketsEnabled": false,
                "alwaysOn": false,
                "javaVersion": null,
                "javaContainer": null,
                "javaContainerVersion": null,
                "appCommandLine": "",
                "managedPipelineMode": "Integrated",
                "virtualApplications": [
                    {
                        "virtualPath": "/",
                        "physicalPath": "site\\wwwroot",
                        "preloadEnabled": false,
                        "virtualDirectories": null
                    }
                ],
                "winAuthAdminState": 0,
                "winAuthTenantState": 0,
                "customAppPoolIdentityAdminState": false,
                "customAppPoolIdentityTenantState": false,
                "runtimeADUser": null,
                "runtimeADUserPassword": null,
                "loadBalancing": "LeastRequests",
                "routingRules": [],
                "experiments": {
                    "rampUpRules": []
                },
                "limits": null,
                "autoHealEnabled": false,
                "autoHealRules": null,
                "tracingOptions": null,
                "vnetName": "",
                "siteAuthEnabled": false,
                "siteAuthSettings": {
                    "enabled": null,
                    "unauthenticatedClientAction": null,
                    "tokenStoreEnabled": null,
                    "allowedExternalRedirectUrls": null,
                    "defaultProvider": null,
                    "clientId": null,
                    "clientSecret": null,
                    "clientSecretCertificateThumbprint": null,
                    "issuer": null,
                    "allowedAudiences": null,
                    "additionalLoginParams": null,
                    "isAadAutoProvisioned": false,
                    "googleClientId": null,
                    "googleClientSecret": null,
                    "googleOAuthScopes": null,
                    "facebookAppId": null,
                    "facebookAppSecret": null,
                    "facebookOAuthScopes": null,
                    "twitterConsumerKey": null,
                    "twitterConsumerSecret": null,
                    "microsoftAccountClientId": null,
                    "microsoftAccountClientSecret": null,
                    "microsoftAccountOAuthScopes": null
                },
                "cors": {
                    "allowedOrigins": [
                        "https://functions.azure.com",
                        "https://functions-staging.azure.com",
                        "https://functions-next.azure.com"
                    ],
                    "supportCredentials": false
                },
                "push": null,
                "apiDefinition": null,
                "autoSwapSlotName": null,
                "localMySqlEnabled": false,
                "managedServiceIdentityId": null,
                "xManagedServiceIdentityId": null,
                "ipSecurityRestrictions": null,
                "http20Enabled": false,
                "minTlsVersion": "1.2",
                "ftpsState": "AllAllowed",
                "reservedInstanceCount": 0
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_ConnectToD365_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Web/sites/ConnectToD365/hostNameBindings/connecttod365.azurewebsites.net'.",
            "type": "Microsoft.Web/sites/hostNameBindings",
            "name": "[concat(parameters('sites_ConnectToD365_name'), '/', parameters('hostNameBindings_connecttod365.azurewebsites.net_name'))]",
            "apiVersion": "2016-08-01",
            "location": "North Europe",
            "scale": null,
            "properties": {
                "siteName": "ConnectToD365",
                "domainId": null,
                "hostNameType": "Verified"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_ConnectToD365_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Web/sites/SIPDTest/config/web'.",
            "type": "Microsoft.Web/sites/config",
            "name": "[concat(parameters('sites_SIPDTest_name'), '/', parameters('config_web_name'))]",
            "apiVersion": "2016-08-01",
            "location": "North Europe",
            "scale": null,
            "properties": {
                "numberOfWorkers": 1,
                "defaultDocuments": [
                    "Default.htm",
                    "Default.html",
                    "Default.asp",
                    "index.htm",
                    "index.html",
                    "iisstart.htm",
                    "default.aspx",
                    "index.php"
                ],
                "netFrameworkVersion": "v4.0",
                "phpVersion": "5.6",
                "pythonVersion": "",
                "nodeVersion": "",
                "linuxFxVersion": "",
                "windowsFxVersion": null,
                "requestTracingEnabled": false,
                "remoteDebuggingEnabled": false,
                "remoteDebuggingVersion": "VS2017",
                "httpLoggingEnabled": false,
                "logsDirectorySizeLimit": 35,
                "detailedErrorLoggingEnabled": false,
                "publishingUsername": "$SIPDTest",
                "publishingPassword": null,
                "appSettings": null,
                "azureStorageAccounts": {},
                "metadata": null,
                "connectionStrings": null,
                "machineKey": null,
                "handlerMappings": null,
                "documentRoot": null,
                "scmType": "VSTSRM",
                "use32BitWorkerProcess": true,
                "webSocketsEnabled": false,
                "alwaysOn": false,
                "javaVersion": null,
                "javaContainer": null,
                "javaContainerVersion": null,
                "appCommandLine": "",
                "managedPipelineMode": "Integrated",
                "virtualApplications": [
                    {
                        "virtualPath": "/",
                        "physicalPath": "site\\wwwroot",
                        "preloadEnabled": false,
                        "virtualDirectories": null
                    }
                ],
                "winAuthAdminState": 0,
                "winAuthTenantState": 0,
                "customAppPoolIdentityAdminState": false,
                "customAppPoolIdentityTenantState": false,
                "runtimeADUser": null,
                "runtimeADUserPassword": null,
                "loadBalancing": "LeastRequests",
                "routingRules": [],
                "experiments": {
                    "rampUpRules": []
                },
                "limits": null,
                "autoHealEnabled": false,
                "autoHealRules": null,
                "tracingOptions": null,
                "vnetName": "",
                "siteAuthEnabled": false,
                "siteAuthSettings": {
                    "enabled": null,
                    "unauthenticatedClientAction": null,
                    "tokenStoreEnabled": null,
                    "allowedExternalRedirectUrls": null,
                    "defaultProvider": null,
                    "clientId": null,
                    "clientSecret": null,
                    "clientSecretCertificateThumbprint": null,
                    "issuer": null,
                    "allowedAudiences": null,
                    "additionalLoginParams": null,
                    "isAadAutoProvisioned": false,
                    "googleClientId": null,
                    "googleClientSecret": null,
                    "googleOAuthScopes": null,
                    "facebookAppId": null,
                    "facebookAppSecret": null,
                    "facebookOAuthScopes": null,
                    "twitterConsumerKey": null,
                    "twitterConsumerSecret": null,
                    "microsoftAccountClientId": null,
                    "microsoftAccountClientSecret": null,
                    "microsoftAccountOAuthScopes": null
                },
                "cors": {
                    "allowedOrigins": [
                        "https://functions.azure.com",
                        "https://functions-staging.azure.com",
                        "https://functions-next.azure.com"
                    ],
                    "supportCredentials": false
                },
                "push": null,
                "apiDefinition": null,
                "autoSwapSlotName": null,
                "localMySqlEnabled": false,
                "managedServiceIdentityId": null,
                "xManagedServiceIdentityId": null,
                "ipSecurityRestrictions": null,
                "http20Enabled": false,
                "minTlsVersion": "1.2",
                "ftpsState": "AllAllowed",
                "reservedInstanceCount": 0
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_SIPDTest_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourcegroups/SIPDTest/providers/Microsoft.Web/sites/SIPDTest/deployments/171544457080426'.",
            "type": "Microsoft.Web/sites/deployments",
            "name": "[concat(parameters('sites_SIPDTest_name'), '/', parameters('deployments_171544457080426_name'))]",
            "apiVersion": "2016-08-01",
            "location": "North Europe",
            "scale": null,
            "properties": {
                "id": "[parameters('deployments_171544457080426_name')]",
                "status": 4,
                "author_email": "",
                "author": "Andy Dow",
                "deployer": "VSTS",
                "message": "{\"type\":\"Deployment\",\"commitId\":\"093081146c0882fe596bd323287c8ca83c9236a0\",\"buildId\":\"5047\",\"releaseId\":\"17\",\"buildNumber\":\"5047\",\"releaseName\":\"Release-12\",\"repoProvider\":\"TfsGit\",\"repoName\":\"SIPD PoC2\",\"collectionUrl\":\"https://spiralit.visualstudio.com/\",\"teamProject\":\"d852960b-c4e1-4966-97ed-ff861d761599\",\"slotName\":\"production\"}",
                "start_time": "2018-12-10T15:51:23.9808636Z",
                "end_time": "2018-12-10T15:51:23.9808636Z",
                "active": true
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_SIPDTest_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/d3d027ad-3727-400e-9791-f09b3a44656c/resourceGroups/SIPDTest/providers/Microsoft.Web/sites/SIPDTest/hostNameBindings/sipdtest.azurewebsites.net'.",
            "type": "Microsoft.Web/sites/hostNameBindings",
            "name": "[concat(parameters('sites_SIPDTest_name'), '/', parameters('hostNameBindings_sipdtest.azurewebsites.net_name'))]",
            "apiVersion": "2016-08-01",
            "location": "North Europe",
            "scale": null,
            "properties": {
                "siteName": "SIPDTest",
                "domainId": null,
                "hostNameType": "Verified"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_SIPDTest_name'))]"
            ]
        }
    ]
}
